
.example-header input {
  font-size: 14px;
  width: 100%;
}
.main-color {
  background-color: #0d4799;
  color: white;
}
.headerTable{
  margin-top: 10px !important;
}
.clickable-cell {
  cursor: pointer;
}
